_build
*.pyc
*.pyo
__pycache__
*.so
*.o
*.bak
*.pybackup

.idea/
build/
cython_debug/
.gitrev
.coverage
*.orig
*.rej
*.dep
*.swp
*~
.noseids

tags
TAGS

.DS_Store

/flypy/runtime/gc/boehmlib.c
/flypy/runtime/gc/boehmlib.h
/flypy/runtime/lib/libcpy.c
/flypy/runtime/lib/libcpy.h
